name: Webpack build and deploy
on: push
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.2.0
      - name: Install dependencies
        run: yarn
      - name: Build bundle
        env:
          NODE_ENV: production
        run: |
          yarn core build
          echo "Built core"
          yarn linalg build
          echo "Built linalg"
          yarn prof build
          echo "Built prof"
          yarn conf build
          echo "Built conf"
          yarn app build
          echo "Built app"
          yarn typecheck
          echo "Type checked"
          yarn lint
          echo "linted"
          yarn test --run --reporter=verbose
          echo "tested"
      - name: Deploy
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          yarn app deploy -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
